html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 32px;
  color: #333;
}

.item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.article-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.article-user-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.user-id {
  font-weight: bold;
  margin: 0;
}

.post-date {
  color: #777;
  font-size: 0.9em;
  margin: 0;
}

.article-title a {
  text-decoration: none;
  color: #213547;
}

.article-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  display: block;
}

.footer-nav {
  text-align: center;
  font-size: 20px;
  border-radius: 8px;
  padding: 4px;
  width: 100%;
  margin: 20px 0;
}

.more-button {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 40px;
  font-size: 16px;
}
